default.orp filter=lfs diff=lfs merge=lfs -text
Dockerfile filter=lfs diff=lfs merge=lfs -text
openrgb filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
startapp.sh filter=lfs diff=lfs merge=lfs -text
